.puzzles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
}

.puzzle {
  width: calc(25% - 20px);
  box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, .1);
  border-radius: 10px;
}

.puzzleImg {
  width: 100%;
  vertical-align: middle;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.puzzleNumber {
  margin: 10px 0;
  text-align: center;
}

.characters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.character {
  width: 50px;
}

.characterImg {
  width: 100%;
}