.characterFound {
  border: 2px solid #adb5bd;
  border-radius: 10px;
  position: relative;
}

.characterCorrectIcon {
  width: 30px;
  position: absolute;
  right: 0;
  transform: translate(50%, -50%);
}
