.characterFound {
  border: 2px solid #adb5bd;
  border-radius: 10px;
  position: relative;
}

.characterCorrectIcon {
  width: 30px;
  position: absolute;
  right: 0;
  transform: translate(50%, -50%);
}

.characterFoundTime {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
}