.leaderboard {
  padding: 0 20px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choosePuzzle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.choosePuzzleDropdown {
  font-family: inherit;
  font-size: 15px;
  padding: 0 10px;
}

.table {
  margin-top: 20px;
}

.tableHeader {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;

  padding: 10px;
  background-color: #1b263b;
  color: #fff;
}

.tableItem {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;

  padding: 10px;
}

.tableItem:nth-of-type(odd) {
  background-color: #e9ecef;
}

.first,
.second,
.third {
  color: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
}

.first {
  background-color: #f7b538;
}

.second {
  background-color: #db7c26;
}

.third {
  background-color: #d8572a;
}
