.header {
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerIcon {
  display: flex;
  align-items: center;
}

.headerTitle {
  width: 100%;
  font-size: 25px;
  letter-spacing: 5px;
}

.headerTitlePrimary {
  color: #9e0059;
}

.headerTitleSecondary {
  color: #390099;
}

.nav {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 100%;
}

.nav::after {
  content: "";

  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 15px;
}

.navListItem {
  list-style: none;
}
